@model Project__B_Night.Entities.Destination
@{
    ViewBag.Title = "DestinationDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

        <div class="row">
            <div class="card">
                <div class="card-title">
                    <h2 style="margin-left:450px;margin-top:40px;">@Model.City - @Model.Country</h2>
                </div>
                <div class="card-body" style="">
                    <div class="image" style="margin-left:230px;">
                        <img src="@Model.İmageUrl" alt="" style="width:800px;height:auto;">
                    </div>
                </div>
                <div class="card-footer">
                    <div class="col-lg-8 col-sm-7">
                        <div class="right-content">
                            <h4>@Model.Country/@Model.City</h4>
                            <span>Yeni Bir Dünyaya Adım Atın</span>
                            <p>@Model.Description</p>
                            <ul class="info">
                                <li><i class="fa fa-user"></i><b>Kapasite: @Model.Capacity</b></li>
                                <li><i class="fa fa-globe"></i><b>Süre: @Model.DayNight gün - @(Model.DayNight-1) gece</b></li>
                                <li><i class="fa fa-home"></i><b> Fiyat: @Model.Price ₺</b></li>
                            </ul>
                            <a href="/Default/index/" class="btn btn-success">Ana Sayfaya Dön</a>
                            <a href="#" class="btn btn-info">
                                @Html.Action("PartialPopap", "Default")
                            </a>

                        </div>

                    </div>

                </div>
            </div>
        </div>
  
</div>




    


@*<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal1">Rezervasyon Yap</button>  </div>*@
