@model List<Project__B_Night.Entities.Message>
@{
    ViewBag.Title = "SendBox";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    var count = 0;
}


<h2 class="alert alert-success">Gönderilmiş Mesajlar</h2>

<div class="container">
    <div class="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Giden Mesaj Sayfası</div>
                    </div>
                    <div class="card-body">

                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Alıcı</th>
                                    <th scope="col">Konu</th>
                                    <th scope="col">Tarih</th>
                                    <th scope="col">Durum</th>
                                    <th scope="col">Mesajı Aç</th>
                                    <th scope="col">Sil</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <td>@count</td>
                                        <td>@item.ReceiverMail</td>
                                        <td>@item.Subject</td>
                                        <td>@item.SendDate.ToShortDateString()</td>
                                        <td>@item.İsRead</td>
                                        <td><a href="/Admin/Message/OpenMessage/@item.MessageId" class="btn btn-info">Detaylar</a></td>
                                        <td><a href="/Admin/Message/DeleteMessage/@item.MessageId" class="btn btn-danger">Sil</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a href="/Admin/Message/SendMessage/" class="btn btn-primary">Yeni Mesaj Gönderin</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
