<!DOCTYPE html>
<html lang="en">
@Html.Action("PartialHead", "AdminLayout", "Admin")
<body>
    <div class="wrapper">
        <!-- Sidebar -->
        @Html.Action("PartialSidebar", "AdminLayout", "Admin")
        <!-- End Sidebar -->

        @Html.Action("PartialNavbar", "AdminLayout", "Admin")
        <div class="container">
            @RenderBody()
        </div>

        @Html.Action("PartialFooter", "AdminLayout", "Admin")
    </div>

    @Html.Action("PartialScripts","AdminLayout","Admin")
 
    
</body>
</html>
/kaiadmin-lite-1.2.0/